@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Untitled Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input,
textarea,
select {
  width: 100%;
  outline: none;
  font-family: inherit;
  font-size: 1em;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  border: none;
  background: none;
}

button,
input[type="submit"] {
  font-size: 1em;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  outline: none;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  appearance: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all 0.5s ease;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.5s ease;
}

svg {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  fill: inherit;
}

.heading1 {
  font-family: "Founders Grotesk", "Helvetica Neue", Helvetica, Arial;
  letter-spacing: -0.03em;
  @screen sm {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
  }

  @screen md {
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
  }

  @screen lg {
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
  }
  @screen xl {
    font-size: 70px;
    line-height: 80px;
    font-weight: 700;
  }
}

.heading2 {
  font-family: "Founders Grotesk", "Helvetica Neue", Helvetica, Arial;
  letter-spacing: -0.03em;
  @screen sm {
    font-size: 28px;
    line-height: 38px;
    font-weight: 700;
  }

  @screen md {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
  }

  @screen lg {
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
  }
  @screen xl {
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
  }
}

.heading3 {
  font-family: "Founders Grotesk", "Helvetica Neue", Helvetica, Arial;
  letter-spacing: -0.03em;
  @screen sm {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }

  @screen md {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
  }

  @screen lg {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
  }
  @screen xl {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
  }
}

.body-reg {
  font-family: "Untitled Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  @screen sm {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
  }

  @screen md {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
  }

  @screen lg {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
  }
  @screen xl {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
  }
}

.body-bold {
  font-family: "Untitled Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  @screen sm {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }

  @screen md {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }

  @screen lg {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
  }
  @screen xl {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
  }
}

.text-big {
  font-family: "Founders Grotesk", "Helvetica Neue", Helvetica, Arial;
  @screen sm {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
  }

  @screen md {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
  }

  @screen lg {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
  }
  @screen xl {
    font-size: 30px;
    line-height: 38px;
    font-weight: 700;
  }
}

.text-med {
  font-family: "Founders Grotesk", "Helvetica Neue", Helvetica, Arial;
  @screen sm {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
  }

  @screen md {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
  }

  @screen lg {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
  }
  @screen xl {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
  }
}

.text-small {
  font-family: "Founders Grotesk", "Helvetica Neue", Helvetica, Arial;
  @screen sm {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }

  @screen md {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }

  @screen lg {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }
  @screen xl {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }
}
