@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Untitled Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Founders Grotesk", "Helvetica Neue", Helvetica, Arial;
  font-weight: 700;
}

input,
textarea,
select {
  width: 100%;
  outline: none;
  font-family: inherit;
  font-size: 1em;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  border: none;
  background: none;
}

button,
input[type="submit"] {
  font-size: 1em;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  outline: none;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  appearance: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all 0.5s ease;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.5s ease;
}

svg {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  fill: inherit;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 50px;
}
h4 {
  font-size: 40px;
}
h5 {
  font-size: 30px;
}

@media (max-width: 1550px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 40px;
  }
  h4 {
    font-size: 35px;
  }
  h5 {
    font-size: 28px;
  }
}

@media (max-width: 1000px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 35px;
  }
  h4 {
    font-size: 28px;
  }
  h5 {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 20px;
  }
}
