@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Untitled Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input,
textarea,
select {
  width: 100%;
  outline: none;
  font-family: inherit;
  font-size: 1em;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  border: none;
  background: none;
}

button,
input[type="submit"] {
  font-size: 1em;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  outline: none;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  appearance: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all 0.5s ease;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.5s ease;
}
a:hover {
  color: #69b9fc;
}

button:hover {
  color: #69b9fc;
}

svg {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  fill: inherit;
}

.heading1 {
  font-family: "Founders Grotesk", "Helvetica Neue", Helvetica, Arial;
  font-weight: 700;
}

.heading2 {
  font-family: "Founders Grotesk", "Helvetica Neue", Helvetica, Arial;
  font-weight: 700;
}

.heading3 {
  font-family: "Founders Grotesk", "Helvetica Neue", Helvetica, Arial;

  font-weight: 700;
}

.body-reg {
  font-family: "Untitled Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.body-bold {
  font-family: "Untitled Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.text-big {
  font-family: "Founders Grotesk", "Helvetica Neue", Helvetica, Arial;
  font-weight: 700;
}

.text-med {
  font-family: "Founders Grotesk", "Helvetica Neue", Helvetica, Arial;
  font-weight: 700;
}

.text-small {
  font-family: "Founders Grotesk", "Helvetica Neue", Helvetica, Arial;
  font-weight: 700;
}

@screen sm {
  .heading1 {
    font-size: 35px;
    line-height: 45px;
  }
  .heading2 {
    font-size: 28px;
    line-height: 38px;
  }
  .heading3 {
    font-size: 24px;
    line-height: 32px;
  }
  .body-reg {
    font-size: 16px;
    line-height: 24px;
  }
  .body-bold {
    font-size: 16px;
    line-height: 24px;
  }
  .text-big {
    font-size: 20px;
    line-height: 30px;
  }
  .text-med {
    font-size: 18px;
    line-height: 28px;
  }
  .text-small {
    font-size: 16px;
    line-height: 24px;
  }
}

@screen md {
  .heading1 {
    font-size: 50px;
    line-height: 60px;
  }
  .heading2 {
    font-size: 40px;
    line-height: 50px;
  }
  .heading3 {
    font-size: 30px;
    line-height: 40px;
  }
  .body-reg {
    font-size: 16px;
    line-height: 24px;
  }
  .body-bold {
    font-size: 16px;
    line-height: 24px;
  }
  .text-big {
    font-size: 20px;
    line-height: 30px;
  }
  .text-med {
    font-size: 18px;
    line-height: 28px;
  }
  .text-small {
    font-size: 16px;
    line-height: 24px;
  }
}

@screen lg {
  .heading1 {
    font-size: 60px;
    line-height: 70px;
  }
  .heading2 {
    font-size: 50px;
    line-height: 60px;
  }
  .heading3 {
    font-size: 30px;
    line-height: 40px;
  }
  .body-reg {
    font-size: 18px;
    line-height: 28px;
  }
  .body-bold {
    font-size: 18px;
    line-height: 28px;
  }
  .text-big {
    font-size: 20px;
    line-height: 30px;
  }
  .text-med {
    font-size: 18px;
    line-height: 28px;
  }
  .text-small {
    font-size: 16px;
    line-height: 24px;
  }
}
@screen xl {
  .heading1 {
    font-size: 70px;
    line-height: 80px;
  }
  .heading2 {
    font-size: 60px;
    line-height: 70px;
  }
  .heading3 {
    font-size: 40px;
    line-height: 50px;
  }
  .body-reg {
    font-size: 20px;
    line-height: 30px;
  }
  .body-bold {
    font-size: 20px;
    line-height: 30px;
  }
  .text-big {
    font-size: 30px;
    line-height: 38px;
  }
  .text-med {
    font-size: 20px;
    line-height: 30px;
  }
  .text-small {
    font-size: 16px;
    line-height: 24px;
  }
}
