/* Untitled Sans, licensed by Klim Type Foundry */

@font-face {
  font-family: "Untitled Sans";
  src: url("~assets/type/untitled-sans-regular.ttf") format("ttf"),
    url("~assets/type/untitled-sans-regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Untitled Sans";
  src: url("~assets/type/untitled-sans-medium.ttf") format("ttf"),
    url("~assets/type/untitled-sans-medium.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "Untitled Sans";
  src: url("~assets/type/untitled-sans-bold.ttf") format("ttf"),
    url("~assets/type/untitled-sans-bold.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

/* Founders Grotesk, licensed by Klim Type Foundry */

@font-face {
  font-family: "Founders Grotesk";
  src: url("~assets/type/founders-grotesk-regular.woff2") format("woff2"),
    url("~assets/type/founders-grotesk-regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("~assets/type/founders-grotesk-medium.woff2") format("woff2"),
    url("~assets/type/founders-grotesk-medium.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("~assets/type/founders-grotesk-semibold.woff2") format("woff2"),
    url("~assets/type/founders-grotesk-semibold.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("~assets/type/founders-grotesk-bold.woff2") format("woff2"),
    url("~assets/type/founders-grotesk-bold.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}
